@model IEnumerable<LabTest.Web.Models.TaskModelView>

@{
    ViewData["Title"] = "Index";
}

<div class="form-horizontal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8" style="margin: 0 0 0px 0">
                <a class="btn btn-primary pull-left" href="~/Home/Index"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back</a>
                <a href="@Url.Action("Create")" class="btn btn-primary" style="margin-left: 5px;"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Create Task</a>

            </div>
        </div>
    </div>
</div>
<br />
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssainedTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AsaainTo)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>               
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Registration.FirstLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.FirstLastName)
                </td>                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TaskId }) |                
                    <input type="button" id="btn" value="Delete" onclick="Delete(@item.TaskId);" />
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    function Delete(Id)
    {
        var value = confirm("Are you sure want to delete this.");
        if (value == true) {
            $.ajax({
                type: 'Delete',
                url: '@Url.Action("DeleteTask", "Task")',
                data: JSON.stringify({
                    taskId: Id
                }),
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    window.location = window.location;
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    }
</script>
