@model LabTest.Web.Models.UserCredentialViewModel


@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Login | Labtest.com</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="~/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
        <link href="~/css/style_responsive.css" rel="stylesheet" />
        <link href="~/css/style_default.css" rel="stylesheet" id="style_color" />

    <style>
        .login-header {
            -moz-background: linear-gradient(120deg, #00e4d0, #5983e8);
            -webkit-background: linear-gradient(120deg, #00e4d0, #5983e8);
            background: linear-gradient(120deg, #00e4d0, #5983e8);
        }

            .login-header #logo {
                width: 170px;
                max-width: 170px;
            }

            .login-header .logo img {
                display: block;
                max-width: 100%;
                height: auto;
            }
    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body id="login-body">
    <div class="login-header">
        <!-- BEGIN LOGO -->
        <div id="logo" class="center">

            <img src="~/lib/Admin_theme/images/Lab-Ai.png" style="max-height: 40px;" alt="logo" class="center" />
        </div>
        <!-- END LOGO -->
    </div>
    @*@using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
        {*@
    <!-- BEGIN LOGIN -->
    <div id="login">
        @using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
        {
            <!-- BEGIN LOGIN FORM -->
            <form id="loginform" class="form-vertical no-padding no-margin">
                <div class="lock">
                    <i class="icon-lock"></i>
                </div>
                <div class="control-wrap">
                    <h4>User Login</h4>
                    <div class="control-group">
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-user"></i></span>
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { placeholder = "Username", id = "input-username" } }) @*<input id="input-username" type="text" placeholder="Username" />*@
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-key"></i></span>
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { type = "password", placeholder = "Password", id = "input-password" } })  @*<input id="input-password" type="password" placeholder="Password" />*@
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            @*<div>
                                    @if (@Context.Request.GetDisplayUrl().Contains("?"))
                                    {
                                        <span style="color: red"> Login Failed! Wrong User Name or Password</span>
                                    }
                                </div>*@
                            <div class="mtop10">
                                <div class="block-hint pull-left small">
                                    <input type="checkbox" id=""> Remember Me
                                </div>
                                <div class="block-hint pull-right">
                                    <a href="javascript:;" class="" id="forget-password">Forgot Password?</a>
                                </div>
                            </div>

                            <div class="clearfix space5"></div>
                        </div>

                    </div>
                </div>

                <input type="submit" id="login-btn" class="btn btn-block login-btn" value="Login" />
            </form>
        }

        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form id="forgotform" class="form-vertical no-padding no-margin hide" action="index.html">
            <p class="center">Enter your e-mail address below to reset your password.</p>
            <div class="control-group">
                <div class="controls">
                    <div class="input-prepend">

                        <span class="add-on"><i class="icon-envelope"></i></span><input id="input-email" type="text" placeholder="Email" />
                    </div>
                </div>
                <div class="space20"></div>
            </div>

            <input type="button" id="forget-btn" class="btn btn-block login-btn" value="Submit" />

        </form>
        <!-- END FORGOT PASSWORD FORM -->
        @*}*@

    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div id="login-copyright">
        @DateTime.UtcNow.Year &copy; Labtest.com.
    </div>
    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS -->

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/jquery.blockui.js"></script>
    <script src="~/js/scripts.js"></script>

    <script>
        jQuery(document).ready(function () {
            App.initLogin();
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>










@*<head>
        <meta charset="utf-8" />
        <title>Login | Hateemtai.com</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link href="~/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
        <link href="~/css/style_responsive.css" rel="stylesheet" />
        <link href="~/css/style_default.css" rel="stylesheet" id="style_color" />

        <style>
            .login-header {
                -moz-background: linear-gradient(120deg, #00e4d0, #5983e8);
                -webkit-background: linear-gradient(120deg, #00e4d0, #5983e8);
                background: linear-gradient(120deg, #00e4d0, #5983e8);
            }

                .login-header #logo {
                    width: 170px;
                    max-width: 170px;
                }

                .login-header .logo img {
                    display: block;
                    max-width: 100%;
                    height: auto;
                }
        </style>
    </head>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/jquery.blockui.js"></script>
    <script src="~/js/scripts.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.initLogin();
        });
    </script>*@

